.btn-custom-arrow {
  color: #333;
  transition: color 0.3s ease;
}

.btn-custom-arrow:hover {
  color: #fff;
}

.carousel-item-container {
  position: relative;
}

.icon-button {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  color: #999797;
  z-index: 50;
}

.icon-button:hover {
  color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(1) invert(1);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: brightness(0.5) invert(1);
}

.carousel-control-prev,
.carousel-control-next {
  filter: brightness(0.7);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  filter: brightness(0);
}

.btn-carousel-zoom {
  :hover {
    color: rgb(36, 36, 36);
  }
}

.property-img-container {
  height: 500px;
}

@media (max-width: 768px) {
  .property-img-container {
    height: 300px;
  }
}
